@inherits Microsoft.AspNetCore.Components.ComponentBase

<div class="c2-table-wrap @CssClass">
    <table class="c2-table @(Striped ? "c2-table-striped" : "") @(Hover ? "c2-table-hover" : "") @(Fixed ? "c2-table-fixed" : "") @(Compact ? "c2-table-compact" : "")">
        @ChildContent
    </table>
</div>

@code {
    [Parameter] public RenderFragment? ChildContent { get; set; }
    [Parameter] public string? CssClass { get; set; }
    [Parameter] public bool Striped { get; set; }
    [Parameter] public bool Hover { get; set; }
    [Parameter] public bool Fixed { get; set; }
    [Parameter] public bool Compact { get; set; }
}
